/wp-content/uploads/
/wp-content/uploads
wp-config.php
.htaccess

# Sass
/wp-content/themes/storefront/.sass-cache

# Grunt
/wp-content/themes/storefront/node_modules/
/wp-content/themes/storefront/storefront
/wp-content/themes/storefront/npm-debug.log

# Codekit
/wp-content/themes/storefront/config.codekit

# Codekit
/wp-content/themes/_backupstorefront
