/* General style */
.shop-grid ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.shop-grid figure {
  margin: 0;
}
.shop-grid figure img {
  display: block;
  width: 100%;
}
.shop-grid figcaption h3 {
  margin: 0;
  padding: 0 0 0.5em;
}
.shop-grid figcaption p {
  margin: 0;
}
/* Grid style */
/* Slideshow style */
.slideshow {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 25000;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}
.slideshow-open .slideshow {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.slideshow ul {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 150px);
  transform: translate3d(0, 0, 150px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.slideshow ul.animatable > li {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.slideshow-open .slideshow ul {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slideshow > ul > li {
  width: 1000px;
  height: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -280px 0 0 -500px;
  visibility: hidden;
}
.slideshow > ul > li .entry-summary {
  overflow: auto;
  max-height: 485px;
}
.slideshow > ul > li.show {
  visibility: visible;
}
.slideshow > ul > li.show .quickview-wrapper {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
}
.slideshow > ul > li.show.current .quickview-wrapper {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/*.slideshow li:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: fade(#FFF, 10%);
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.slideshow li.current:after {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}*/
/* Navigation */
.slideshow nav span {
  position: fixed;
  z-index: 100000;
  text-align: center;
  cursor: pointer;
}
.slideshow nav span.nav-prev,
.slideshow nav span.nav-next {
  top: 50%;
  color: #FFF;
  background: url(../../images/popup_prev@2x.png) no-repeat;
  -webkit-background-size: 22px;
  -moz-background-size: 22px;
  background-size: 22px;
  width: 22px;
  height: 48px;
}
.slideshow nav span.nav-prev {
  left: 50px;
}
.slideshow nav span.nav-next {
  right: 50px;
  background-image: url(../../images/popup_next@2x.png);
}
.slideshow nav span.nav-close {
  display: block;
  top: 55px;
  right: 50px;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url(../../images/popup_close@2x.png) no-repeat center center;
  -webkit-background-size: 22px;
  -moz-background-size: 22px;
  background-size: 22px;
}
/* Example media queries (reduce number of columns and change slideshow layout) */
@media screen and (max-width: 60em) {
  /* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
  .items > li {
    width: 33.3%;
  }
  .slideshow li {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
  }
  .slideshow li figure img {
    width: auto;
    margin: 0 auto;
    max-width: 100%;
  }
  .slideshow nav span,
  .slideshow nav span.nav-close {
    font-size: 1.8em;
    padding: 0.3em;
  }
  .info-keys {
    display: none;
  }
}
@media screen and (max-width: 35em) {
  .items li {
    width: 50%;
  }
}
@media screen and (max-width: 24em) {
  .items li {
    width: 100%;
  }
}
